@import './common/reset.styl';
@import './common/common.styl';
@import './modules/sideBar.styl';
@import './modules/mainContainer.styl';
@import './modules/page.styl';
@import './modules/about.styl';
@import './modules/categories.styl';
@import './modules/tags.styl';
@import './_highlight/highlight.styl';
#toTop
	width 47px
	height 47px
	background url(../images/icon/back-top-btn.png) no-repeat
	text-align center
	position fixed
	bottom 25px
	right 20px
	cursor pointer
	text-indent -9999px
	z-index 12
	display none
