.about
  width 80%
  margin 40px auto
  background-color #FFF
  padding 18px
  border 1px solid #ddd
  border-radius 5px
  .about-title
    font-family '微软雅黑'
    font-size 34px
    font-weight 600
    border-bottom 1px solid #ddd
    margin 12px
  .about-avatar
    width 140px
    height 140px
    margin 40px auto 0 auto
    overflow hidden
    border-radius 50%
    cursor pointer
    &:hover
      img
        transform rotate(1turn)
        transition all 1s ease-in
    img
      width 100%
  .about-name
    text-align center
    height 48px
    line-height 48px
    font-size 18px
  .about-slog
    text-align center
    color #888
  .about-content
    width 60%
    margin 0 auto
    text-indent 2em
