.page
  width 100%
  margin 20px 0
  font-size 12px
  overflow hidden
  text-align center
  span
    color #008cba
  .not-allowed
    cursor not-allowed
  .first,
  .prev,
  .current,
  .page-num,
  .page-number,
  .next,
  .end
    padding 8px 16px
    margin 0px 5px
    display inline-block
    color #008cba
    border-radius 5px
  .first:hover,
  .prev:hover,
  .current:hover,
  .num:hover,
  .next:hover,
  .end:hover
    text-decoration none
    background #f8f5f5
  .current
    background-color #008cba
    color #fff
    border-radius 5px
    border 1px solid #008cba
    background-color #008cba
    color #fff
    border-radius 5px
    border 1px solid #008cba
    &:hover
      text-decoration none
      background #008cba
.archive
  width 90%
  margin 0 auto
  background #FFF
  border 1px solid #DDD
  border-radius 8px
  position relative
  .article-sort-title
    font-family '微软雅黑'
    font-size 34px
    font-weight 600
    border-bottom 1px solid #ddd
    margin 12px
.event_year
  width 60px
  border-bottom 2px solid #ddd
  text-align center
  margin-top 10px
  position absolute
  right 140px
  top 200px
  display none
  li
    height 40px
    line-height 40px
    background #fff
    margin-bottom 1px
    font-size 18px
    color #828282
    cursor pointer
    list-style none
    &.current
      width 70px
      color #fff
      text-align left
      padding-left 9px
.event_list
  width 850px
  margin 10px 0 20px 0
  position relative
  &::before
    width 4px
    content ''
    background RGB(221,221,221)
    position absolute
    left 144px
    top -7px
    height 120%
  h3
    margin 0 0 10px 138px
    font-size 24px
    font-family Georgia
    color #0066ff
    padding-left 25px
    height 38px
    line-height 30px
    font-style italic
    position relative
    &::before
      width 16px
      height 16px
      content ''
      background-color #06f
      position absolute
      left 0px
      top 50%
      margin-top -8px
      border-radius 50%
    &::after
      width 8px
      height 8px
      content ''
      background-color #fff
      position absolute
      left 4px
      top 50%
      margin-top -4px
      border-radius 50%
  li
    list-style none
    height 60px
    overflow hidden
    position relative
    &::before
      width 12px
      height 12px
      content ''
      position absolute
      left 140px
      top 50%
      margin-top -12px
      background RGB(102,102,102)
      border-radius 50%
    .article-sort-item__title
      position relative
      border 1px solid #ddd
      margin-left 40px
      border-radius 5px
      &::before
        content ''
        position absolute
        left -12px
        top 50%
        transform translateY(-50%)
        width 0px
        height 0px
        border-bottom 12px solid transparent  /* left arrow slant */
        border-top 12px solid transparent /* right arrow slant */
        border-right 12px solid #ddd /* bottom, add background color here */
        font-size 0px
        line-height 0px
      &::after
        content ''
        position absolute
        left -11px
        top 50%
        transform translateY(-50%)
        width 0px
        height 0px
        border-bottom 11px solid transparent  /* left arrow slant */
        border-top 11px solid transparent /* right arrow slant */
        border-right 11px solid #fff /* bottom, add background color here */
        font-size 0px
        line-height 0px
    span
      width 127px
      text-align right
      display block
      float left
      margin-top 10px
    p
      width 680px
      margin-left 24px
      display inline-block
      padding-left 10px
      line-height 25px
      span
        width 650px
        text-align left
        padding 10px 15px
        background #fff
        margin 0
