.left-container
  border-right 1px solid #eee
  height 100vh
  width 300px
  background #fff
  position fixed
  left 0
  top 0
  bottom 0
  font-size 18px
  .left-layout-container
    display flex
    flex-direction column
    height 100%
    overflow-y auto
    position absolute
    top 0
    .user-info
      flex 0 0 150px
      margin-top 50px
      display flex
      align-items center
      flex-direction column
      img
        width 70px
        flex 0 0 70px
        border-radius 35px
        cursor pointer
        &:hover
          transform rotate(1turn)
          transition all 1s ease-in
      .login-name
        margin-top 14px
        margin-bottom 12px
        font-size 14px
        flex 0 0 16px
        line-height 16px
        color #4b595f
      :last-child
        font-size 13px
        margin 0 20px
        flex 0 0 18px
        line-height 18px
        color #849aa4
    .other-site
      margin-top 20px
      margin-bottom 67px
      list-style none
      flex 0 0 20px
      display flex
      justify-content center
      li
        cursor pointer
        margin-right 20px
        img
          width 25px
          height 25px
        :last-child
          margin-right 0
    .left-menu
      flex 1 1 150px
      min-height 150px
      display flex
      list-style none
      flex-direction column
      color #4b595f
      li
        width 100%
        height 40px
        line-height 40px
        cursor pointer
        font-size 16px
        &:before
          width 4px
          height 100%
          content ""
          margin-right 46px
          float left
          display table
    .selected-menu
      background-color #e5f1fc
      color #3593f2
      a
        color #3593f2
      &:before
        background-color #3593f2
    .qq-group
      flex 0 0 170px
      margin-top 50px
      margin-left 55px
      width 90px
      span
        display block
        width 100%
        height 15px
        line-height 15px
        font-size 12px
        text-align center
        color #849aa4
        margin-bottom 10px
      &:first-child
        color #4b595f
      img
        width 90px
        height 90px
    .copyright
      flex 0 0 20px
      line-height 20px
    .copyright, .powered
      text-align center
      font-size 12px
      color #888

.navbar-container
  position fixed
  top 0
  left 0
  width 100%
  height 64px
  display none
  background #fff
  z-index 19930114
  .navbar-header
    height 64px
    display flex
    position relative
    align-items center
    width 100%
    justify-content space-between
    .navbar-menu,.navbar-search
      border none
      display inline-block
      height 64px
      width 20%
      line-height 64px
      text-align center
    .navbar-logo
      width 30%
      height 100%
      overflow hidden
      display inline-block
      margin 0 auto
  .iconfont
    display block
    width 30px
    height 30px
    margin 17px
  .icon-menu
    height 2px
    background #ccc
    width 24px
    margin 0 auto
    margin-top 20px
    position relative
    &::after,&::before
      content ''
      width 24px
      height 2px
      background #ccc
      position absolute
      left 0
    &::after
      top 8px
    &::before
      top 16px

#app-aside
  width 68%
  position fixed
  top 0
  left 0
  height 100%
  z-index 9999
  transform translateX(-100%)
  transition all .35s ease-out
  background-color #34393d
  &.open
    overflow hidden
    transform translateX(0)
    transition all .35s ease-out
    -webkit-overflow-scrolling touch
aside
  display block
  overflow auto
  position relative
  width 100%
  height 100%
  margin 0
  opacity 0
  transform scale(.8)
  transition all .35s ease-out
  &.open
    opacity 1
    transform scale(1)
    transition all .35s ease-out
  .aside-user
     width 100%
     display flex
     align-items flex-start
     flex-direction column
     padding 14px
     border-bottom 1px solid #282c2f
     .avatar
       width 35%
       img
        max-width 100%
        border 2px solid #eee
    .profile
      color hsla(0,0%,100%,.6)
      width 100%
      .name
        font-weight 700
        margin-bottom 12px
        font-size 15px
        margin 20px 0 4px
      .email
        color #0088f5
        margin 0
        overflow hidden
        text-overflow ellipsis
        white-space nowrap
  .aside-nav
    width 100%
    .nav-list
      padding 0
      margin 0
      .item
        border none
        display block
        width 100%
        height 3em
        line-height 3em
        padding 0 1em
        text-decoration none
        text-transform uppercase
        font-weight 700
        border-radius 1px
        color hsla(0,0%,100%,.6)
        margin-bottom .5em
        &.selected-menu
          color #0088f5
          font-weight 700
          background-color hsla(0,0%,100%,.6)
