footer.footer
  #toTop(style="display: none;") Back to Top
  .footer-content
    p ©2015 - 2018 By cavinHuang
    .framework-info
      span Driven - 
      a(href='https://hexo.io')
        span Hexo
      span.footer-separator |
      span Theme - 
      a(href='')
        span yoyo
    .site-count
      ul
        .site-count-item
          span#busuanzi_container_site_pv
            | 本站总访问量
            span#busuanzi_value_site_pv
            | 次
        .site-count-item
          span#busuanzi_container_site_uv
            | 本站访客数
            span#busuanzi_value_site_uv
            | 人次
