include header.pug
.app
  include sideBar.pug
  #content-outer.blog-container.main-container
    nav.navbar
      .navbar-container
        .navbar-header
          a#navMenu.navbar-menu(href='javascript:;', data-isOpen="false")
            i.iconfont.icon-menu
          a.navbar-logo(href='/', )
            img(src=config.logo_path, )
          a.navbar-search(href='', )
            //- i.iconfont.icon-search
    #content-inner.blog-list-container
      if body
        div!= body
      else
        block content
    include footer.pug
canvas.fireworks
if theme.scripts !== undefined && theme.scripts.length > 0
  //- scripts list from config.yml
  each url in theme.scripts
    script(src=url)
